:root {
	/*! Global Variables  */

	/*~ General Purpose-------------------------  */
	--main-bg: rgb(33, 33, 33);

	/*~ Login & Registration Pages------------------------- */
	--form-bg-img: url("../imgs/background.png");
	--form-bg: rgb(237, 237, 237);
	--input-color: rgb(102, 102, 102);

	/*~ Home & Practice Pages------------------------- */
	--exam-btn-bg: rgb(116, 116, 116);
	--exam-btn-hover: rgb(77, 77, 77);

	/*~ Profile Page------------------------- */
	--dashboard-items-bg: rgb(37, 37, 37);
	--dashboard-ranking-bg: rgb(32, 47, 60);
	--points-txt-color: rgb(61, 163, 215);

	/*~ Account Settings Page------------------------- */
	--settings-edit-btn: rgb(56, 91, 120);
	--settings-edit-hover: rgb(14, 38, 57);
	--settings-save-btn: rgb(20, 90, 20);
	--settings-save-hover: rgb(8, 54, 8);
	--settings-cancel-btn: rgb(130, 23, 23);
	--settings-cancel-hover: rgb(72, 7, 7);

	/*~ User Support Page-------------------------  */
	--support-card-bg: rgb(26, 26, 26);
	--support-txt-color: rgb(240, 240, 240);

	/*? Navigation Component------------------------- */
	--topnav-bg: rgb(56, 91, 120);
	--nav-txt-color: rgb(240, 240, 240);
	--dropdown-bg: rgb(14, 38, 57);
	--sidebar-bg: rgb(41, 41, 41);
	--sidebar-btn-hover: rgb(62, 62, 62);

	/*? Card Component------------------------- */
	--outer-card-margins: 5% 15%;
	--outer-card-bg: linear-gradient(
		90deg,
		rgba(39, 49, 61, 1) 0%,
		rgba(104, 131, 163, 1) 100%
	);
	--inner-card-bg: rgba(17, 26, 44, 71);
	--card-txt-color: rgb(240, 240, 240);

	/*? Footer Component------------------------- */
	--footer-txt-color: rgb(240, 240, 240);
	--footer-btn-hover: rgb(62, 62, 62);

	/** Font Sizes */
	/* viewport: 400px -> 1024px*/
	--font-s: clamp(0.8rem, 0.672rem + 0.513vw, 1rem);
	--font-m: clamp(1rem, 0.808rem + 0.769vw, 1.3rem);
	--font-l: clamp(1.3rem, 0.979rem + 1.282vw, 1.8rem);
	--font-xl: clamp(1.5rem, 1.179rem + 1.282vw, 2rem);
	--font-xxl: clamp(2rem, 1.679rem + 1.282vw, 2.5rem);

	/** Shadows  */
	--shadow-color: rgba(0, 0, 0, 0.6);
	--shadow-small: 0 0.5rem 1rem 0.2rem var(--shadow-color);
	--shadow-large: 0 0.5rem 1.5rem 0.5rem var(--shadow-color);
}

/*? Reset Properties------------------------- */
* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

/*? Document Defaults------------------------- */
html,
body {
	height: 100%;
	width: 100%;
	background-color: var(--main-bg);
}

.main-wrapper {
	min-height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
