body {
	background-image: var(--form-bg-img);
	background-size: cover;
	display: flex;
	align-items: center;
}

body::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	backdrop-filter: blur(10px);
}

.container {
	z-index: 1;
	min-height: 100%;
	background-color: var(--form-bg);
	box-shadow: var(--shadow-large);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	margin: 1rem 3rem;
	gap: 1rem;
}

input {
	font-size: var(--font-s);
	border-radius: 1rem;
	padding: 1rem;
	border: none;
	box-shadow: inset var(--shadow-small);
	color: var(--input-color);
}

input[type="checkbox"],
input[type="radio"] {
	box-shadow: none;
}

input[type="submit"] {
	margin: auto;
	padding: 0.8rem 30%;
}
input[type="submit"]:hover {
	cursor: pointer;
	box-shadow: var(--shadow-small);
}

@media (width <= 768px) {
	.container {
		width: 100%;
	}
}
