.container {
	min-width: 40%;
}

.container h1 {
	font-size: calc(var(--font-xl) + 1rem);
}

.logo {
	display: none;
}

.logo-full {
	z-index: 1;
	width: 40%;
	margin: auto;
}

.extra-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 0.2em;
	margin: -0.5em 1em 1em;
}

.extra-wrapper a {
	margin-left: auto;
}

#remember-me {
	width: 1.5em;
}

.divide-wrapper {
	display: flex;
	justify-content: center;
	gap: 1.5em;
}

.divide-wrapper hr {
	flex-grow: 1;
	border: 1px inset black;
	margin: auto;
}

.socials-wrapper {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin: 1em;
}

.socials {
	border: none;
	transition: filter 0.2s ease-in-out;
}

.socials:hover {
	cursor: pointer;
}

.socials {
	width: 2.5em;
}

@media (width <= 768px) {
	.logo-full {
		display: none;
	}

	.logo {
		display: block;
	}
}
