header {
	height: 10%;
	width: 100%;
	background: var(--topnav-bg);
	box-shadow: 0 0 1rem 0.1rem var(--shadow-color);
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	z-index: 1;

	.btn {
		background: transparent;
		border: none;
		color: var(--nav-txt-color);
		scale: 2;
		margin: 0 2rem;

		&:hover {
			cursor: pointer;
		}
	}

	.fa {
		scale: 0.5;
	}

	.sidebar-btn {
		margin-right: auto;
	}
}

.dropdown-btn-wrapper {
	height: 100%;
	overflow: hidden;

	.dropdown-btn {
		display: flex;
		align-items: center;
		height: 100%;
	}
}

.dropdown-content {
	display: block;
	position: absolute;
	width: 15rem;
	right: 0;
	z-index: 1;
	background-color: var(--dropdown-bg);
	box-shadow: 0 0.5rem 1rem 0.1rem var(--shadow-color);

	a {
		display: block;
		color: var(--nav-txt-color);
		text-align: center;
		padding: 10%;
		transition: background-color 0.15s ease-in;

		&:hover {
			background-color: var(--topnav-bg);
		}
	}

	i {
		float: left;
	}

	hr {
		margin: 0 5%;
	}
}

.sidebar {
	height: 90vh;
	width: 0%;
	position: fixed;
	z-index: 1;
	top: 10vh;
	left: 0;
	background-color: var(--sidebar-bg);
	overflow-x: hidden;
	box-shadow: 0 0.5rem 1rem 0.1rem var(--shadow-color);
	transition: width 0.2s ease-in-out;

	a {
		display: block;
		color: var(--nav-txt-color);
		padding: 10%;
		transition: background-color 0.15s ease-in;

		&:hover {
			background-color: var(--sidebar-btn-hover);
		}
	}

	i {
		padding-right: 10%;
		scale: 1.5;
	}

	hr {
		margin: 0 5%;
	}

	img {
		width: 75%;
		margin: 10% 12%;
	}
}

@media only screen and (max-width: 768px) {
	.dropdown-content {
		width: 100%;
	}

	nav,
	.dropdown-content {
		a {
			text-align: center;
			padding: 5%;
		}

		i {
			scale: 2;
		}

		hr {
			margin: 0 3%;
		}
	}
}
