.container {
	min-width: 50%;
	margin: auto;
}

.logo {
	width: 5rem;
	margin: 0 auto 1rem;
}

.gender-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 2;
	justify-content: space-evenly;
	margin-left: 0.5rem;
}

.gender-wrapper label {
	margin: 0 auto 0 0.5rem;
}
