.view-mode,
.edit-mode {
	display: grid;
	row-gap: 1.5rem;
	column-gap: 1rem;
	max-width: 100%;
	padding: 2rem !important;
	overflow: hidden;
	font-size: var(--font-s);

	button {
		cursor: pointer;
		font-size: var(--font-s);
		color: var(--card-txt-color);
		border: none;
		border-radius: 1rem;
		align-self: center;
		padding: 0.5rem;
		transition: background-color 0.2s ease;
	}

	h2 {
		grid-area: info;
	}

	.pic-mask {
		grid-area: picture;
		position: relative;
		justify-self: center;
		border-radius: 50%;
		height: 10rem;
		width: 10rem;
		overflow: hidden;
		background-color: var(--main-bg);
		box-shadow: inset 0 0.5rem 0.5rem 0.5rem var(--shadow-color);

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

		&:hover .pic-overlay {
			background-color: rgba(0, 0, 0, 0.75);
		}
	}
}

.view-mode {
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		"picture dates dates button"
		"picture dates dates button"
		". . . ."
		"info info . ."
		"email email full-name full-name"
		"phone phone org org"
		"skills skills exp exp";
}

.edit-mode {
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas:
		"picture dates dates . save cancel"
		"picture dates dates . save cancel"
		". . . . . ."
		"info info . . . ."
		"email email first-name first-name last-name last-name"
		"phone phone org org . ."
		"skills skills skills exp exp exp";

	input {
		font-size: var(--font-s);
		padding: 0.2rem 1rem;
		margin-right: 1rem;
		border-radius: 5rem;
		border: none;
	}

	.pic-overlay {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		font-size: var(--font-s);
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 1;
		transition: background-color 0.3s ease;
	}
}

.hidden {
	display: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.user {
	grid-area: dates;
	align-self: center;

	:first-child {
		margin-bottom: 0.5rem;
	}

	input {
		margin: 0;
	}
}

.edit-btn {
	grid-area: button;
	background-color: var(--settings-edit-btn);

	&:hover {
		background-color: var(--settings-edit-hover);
	}
}

.save-btn {
	grid-area: save;
	background-color: var(--settings-save-btn);

	&:hover {
		background-color: var(--settings-save-hover);
	}
}

.cancel-btn {
	grid-area: cancel;
	background-color: var(--settings-cancel-btn);

	&:hover {
		background-color: var(--settings-cancel-hover);
	}
}

.email {
	grid-area: email;
}

.full-name {
	grid-area: full-name;
}

.first-name {
	grid-area: first-name;
}

.last-name {
	grid-area: last-name;
}

.phone {
	grid-area: phone;
}

.org {
	grid-area: org;
}

.skills {
	grid-area: skills;
}

.exp-level {
	grid-area: exp;
}

@media only screen and (max-width: 768px) {
	.user {
		justify-self: center;
		align-items: center;
	}

	.view-mode,
	.edit-mode {
		grid-template-columns: 1fr;
	}

	.view-mode {
		grid-template-areas:
			"picture"
			"dates"
			"button"
			"info"
			"email"
			"full-name"
			"phone"
			"org"
			"skills"
			"exp";
	}

	.edit-mode {
		grid-template-areas:
			"picture"
			"dates"
			"save"
			"cancel"
			"info"
			"email"
			"first-name"
			"last-name"
			"phone"
			"org"
			"skills"
			"exp";
	}
}
